<style>
    ul.navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(69, 1, 100);
    }
    
    li.menu {
        float: left;
    }
    
    li.menu a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li.menu a:hover {
        background-color: rgb(46, 4, 66);
    }
    </style>
    
    <nav>
    <ul class="navbar">
        <li class="menu"><a href="//localhost:8000/" class="navbar">Home</a></li>
        <li class="menu"><a href="//localhost:8000/listado-pelis/" class="navbar">Listado pelis</a></li>
        <li class="menu"><a href="//localhost:8000/noticias-pel%C3%ADculas/" class="navbar">Noticias</a></li>
        <li class="menu"><a href="//localhost:8000/listado-playas/" class="navbar">Mejores Playas</a></li>
        <li class="menu"><a href="//localhost:8000/viajes/" class="navbar">Viajes</a></li>
        <li class="menu"><a href="//localhost:8000/contacto/" class="navbar">Contacto</a></li>
    </ul>
    </nav>